* {margin: 0; padding: 0;}
img {vertical-align: top;}
.w-slider {
    width: 310px;
    height: 265px;
    margin: 100px auto;
    position: relative;
    overflow: hidden;
    position: relative;
}
.slider-main {
    width: 200%;
    height: 220px;


}
.slider-main-img {
    position: absolute;
    width: 310px;
    height: 220px;
    top: 0;
    left: 0;
}
.slider-ctrl {
    width: 100%;
    height: 20px;
    padding-top: 6px;
    text-align: center;
}
.slider-ctrl-con {
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 0 5px;
    background: url(../images/icon.png) no-repeat -24px -782px;
    cursor: pointer;
    text-indent: -10em;
    overflow: hidden;
}
.current {
    background-position: -24px -762px;
}
.slider-ctrl-prev,
.slider-ctrl-next {
    width: 29px;
    height: 34px;
    position: absolute;
    top: 50%;
    margin-top: -44px;
    cursor: pointer;
}
.slider-ctrl-prev {
    background: url(../images/icon.png) no-repeat 6px 0;
    left: 0;
}
.slider-ctrl-next {
    background: url(../images/icon.png) no-repeat -6px -45px;
    right: 0;
}